.git/**
.github/**
.vscode/**
.vscode-test/**
.vscode-test-web/**
coverage/**
.nyc_output/**
node_modules/**
src/**
out/test/**

.gitignore
.vscodeignore
.yarnrc
eslint.config.mjs
tsconfig.json
vsc-extension-quickstart.md

*.vsix
*.log
**/*.map
**/*.ts
**/.vscode-test.*
